*{
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
  position: relative;
  width: 300px;
  height: 200px;
  line-height: 200px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(to right, #fb7299, #ff5c7c);
  cursor: pointer;
  transition: all .5s;
}
.box::after{
  content: "";  
  position: absolute;
  top: 100px;
  left: 0;
  width: 600px;
  height: 70px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,.3),rgba(0,0,0,0));
  transform: rotate(-45deg) translate(0, -360px);
}
.box:hover{
  margin-top: -20px;
  box-shadow: 3px 3px 3px rgba(0,0,0, .2);
}
.box:hover::after{
  transition: 1s;
  transform: rotate(-45deg) translate(0, 100px);
}