*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}
body{
  display: flex;
  justify-items: center;
  align-items: center;

  height: 100vh;
  background-color: #282c34;
}
.tab{
  width: 700px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  color: #607291;
  background-color: #fff;
}
input{
  display: none;
}
label{
  float: left;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #ccc;
  transition: all .4s;
  cursor: pointer;
}
label:hover{
  background-color: #fff;
}
label img{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
ul{
  /**清楚浮动**/
  clear: both;
  width: 3500px;
  height: 210px;
  transition: all .4s;
}
ul li{
  float: left;
  list-style: none;
  width: 700px;
  height: 210px;
  padding: 40px;
}
ul li img{
  float: left;
  width: 130px;
  height: 130px;
  margin-right: 20px;
}
ul li p{
  /*首行缩进*/
  text-indent: 2em;
  /*伸缩盒子模型*/
  display: -webkit-box;
  /*在伸缩盒子模型里让子元素垂直排列*/
  -webkit-box-orient: vertical;
  /*这个不是css的伸缩语句，需要配合以上两种属性一起使用，意思是只显示3行*/
  -webkit-line-clamp: 3;
  overflow: hidden;
  /*超出显示省略号*/
  text-overflow: ellipsis;

  margin-top: 20px;
}
#tab1:checked~ul{
  margin-left: 0;
}
#tab2:checked~ul{
  margin-left: -700px;
}
#tab3:checked~ul{
  margin-left: -1400px;
}
#tab4:checked~ul{
  margin-left: -2100px;
}
#tab5:checked~ul{
  margin-left: -2800px;
}